[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit How to create custom gridview (Like matrix structure ) in Android - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/26501752/how-to-create-custom-gridview-like-matrix-structure-in-android
Icon=text-html
