[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Video streaming from an IP camera to an Android phone | iJoshSmith
Type=Link
URL=https://ijoshsmith.com/2014/01/25/video-streaming-from-an-ip-camera-to-an-android-phone/
Icon=text-html
